{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url('{% static "images/contbackground.jpg" %}');">
    <h2 class="l-text3 t-center">
    Contact
</h2>
</section> -->
<section class="bgwhite p-t-66 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-3">
              <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-body text-success">
                            <h5 class="card-title">World Of Sports CG Road</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">World Of Sports Plus</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <div class="card border-danger mb-3" style="max-width: 18rem;">
                        <div class="card-body text-danger">
                            <h5 class="card-title">Speedo</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Speedo Jockey Yonex</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.606632246507!2d72.56031501444242!3d23.038211221525717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84f4adc80b47%3A0xeefa195b1e3322b5!2sWorld%20of%20Sports!5e0!3m2!1sen!2sin!4v1591984957112!5m2!1sen!2sin" width="900" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3671.540165854834!2d72.53118950288851!3d23.0406501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84b737dcc1b1%3A0x3742690386e1f705!2sWorld%20of%20Sports%20Plus!5e0!3m2!1sen!2sin!4v1592335207585!5m2!1sen!2sin" width="900" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.924297648498!2d72.55496811444226!3d23.026551621958856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85a4479a95d3%3A0x5b33140968be08fa!2sSpeedo%20Ahmedabad!5e0!3m2!1sen!2sin!4v1592335352223!5m2!1sen!2sin" width="900" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.434486826346!2d72.52770321444261!3d23.044527321291064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85d710d4abb5%3A0x9159820fd248fcc3!2sSpeedo%20Jockey%20Yonex%20-%20World%20Of%20Sports!5e0!3m2!1sen!2sin!4v1592335387610!5m2!1sen!2sin" width="900" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
            
{% endblock content %}